.employee-background {
    background-color: #f8f9fa;
    min-height: 100vh;
    padding: 20px;
  }

  .notification-area {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  .notification {
    background-color: #4caf50; /* Green */
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    transition: opacity 0.5s ease;
  }
  
   
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
   
  .head001 {
    font-size: 24px;
    font-weight: bold;
  }
   
  .logout-btn {
    background-color: #dc3545;
    border: none;
    position: absolute; 
    right: 20px; 
  }

  .mobileNumb{
    width: 200px;
    height: 32px;
  }
   
  .logout-btn4 {
    background-color: #46e06c;
    border: none;
    right: 20px;
    margin: 10px 
  }



  .table {
    margin-top: 20px;
  }
   
  .text-right {
    text-align: right;
  }